<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- CSS -->
        <link rel="stylesheet" href="./css/email.css">
         
    </head>
    <body id="indexContainer">
        <a href="/"><button class="btn btn-secondary back-button" >HOME</button></a>


            <div class="container">
                <h1 class="brand"><span>Secret Santa</span> Results</h1>
                <div class="wrapper animated bounceInLeft">

                  <div class="contact">
                    <h3>Email Results</h3>
                    <form method="POST" action="send">
                      <p>
                        <label>Name</label>
                        <input list="names" type="text" name="name" autocomplete="off">
                        <datalist id="names" style="background-color:DodgerBlue">
                          <% for (let i = 0; i < profileIndex.length; i++) { %>
                              <option ><%=profileIndex[i].name%></option>
                             
                          <% } %>                 
                        </datalist>
                      </p>
                      <p>
                        <label>Email Address</label>
                        <input list="email" type="email" name="email" autocomplete="off">
                        <datalist id="email" style="background-color:DodgerBlue">
                          <% for (let i = 0; i < profileIndex.length; i++) { %>
                              <option ><%=profileIndex[i].email%></option>
                             
                          <% } %>                 
                        </datalist>
                        
                      </p>
                      <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="5"></textarea>
                      </p>
                      <p class="full">
                        <button type="submit">Submit</button>
                      </p>
                    </form>
                  </div>
                </div>
              </div>


    </body>
    </html>
