<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- CSS -->
        
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/email.css">

                  <!-- JQUERY -->
                  <script
                  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
                  <script src="/edit.js"></script>
         
    </head>
    <body id="indexContainer">
    <div class="container-fluid">
        <a href="/home"><button class="btn btn-secondary back-button" >HOME</button></a>


            
                <h1 class="brand"><span>Secret Santa</span> Results</h1>
                <div class="wrapper">

                  <div class="contact container-fluid">
                    <h3>Email Results</h3>
                    <p>Note: Do not leave page until all emails have been sent, otherwise the names will need to be drawn again and the emails will need to be sent again.</p>
                    <h4><%=message%></h4>
                    

                    <form method="POST" action="/home/send">
                      <p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Name</label>
                          </div>
                          <select class="custom-select" id="inputGroupSelect01 nameInput" name="name">
                            <option >Choose...</option>
                            <% for (let i = 0; i < profileIndex.length; i++) { %>
                              <option ><%=profileIndex[i].name%></option>
                          <% } %>
                          </select>
                        </div>
                      </p>

                      <p>
                        <p>Add gift limit aount here</p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Secret Santa Spending Limit</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="txt_1" name="amount" onchange="saveValue(this);" placeholder="i.e. $50" autocomplete="off" />
                        </div>
                      </p>

                      <script type="text/javascript">
                        document.getElementById("txt_1").value = getSavedValue("txt_1");    // set the value to this input
                        /* Here you can add more inputs to set value. if it's saved */
                
                        //Save the value function - save it to localStorage as (ID, VALUE)
                        function saveValue(e){
                            var id = e.id;  // get the sender's id to save it . 
                            var val = e.value; // get the value. 
                            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
                        }
                
                        //get the saved value function - return the value of "v" from localStorage. 
                        function getSavedValue  (v){
                            if (!localStorage.getItem(v)) {
                                return "";// You can change this to your defualt value. 
                            }
                            return localStorage.getItem(v);
                        }
                  </script>

                      <p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Email</label>
                          </div>
                          <select class="custom-select" id="inputGroupSelect01 emailInput" name="email">
                            <option >Choose...</option>
                            <% for (let i = 0; i < profileIndex.length; i++) { %>
                              <option ><%=profileIndex[i].email%></option>
                          <% } %>
                          </select>
                        </div>
                      </p>



                      <p class="full">
                        <button type="submit" id="emailsubmit">Submit</button>
                      </p>
                    </form>
                  </div>
                </div>
              
    </div>
    </body>
    </html>
