<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/edit-new-style.css">
        
    </head>
    <body>
        <div class="back-button-divider">
            <a href="/"><button class="btn btn-secondary back-button" >BACK</button></a>
            </div>
        <div class="container-fluid">
            <h1>Add New Person</h1>
            
                <form class="new-movie-container" action="/" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text"  name="name" placeholder="Name" /><br/>
                    </div>

                <form class="new-movie-container" action="/" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Spouse</span>
                        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="spouse" placeholder="Souse"/><br/>
                    </div>

                <form class="new-movie-container" action="/" method="POST">
                     <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Profile Image URL</span>
                        <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="image"  placeholder="Image URL"/><br/>
                    </div>

                <form class="new-movie-container" action="/" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">WishList</span>
                        <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="wishList" placeholder="Wish List" /><br/>
                    </div>

                 <form class="new-movie-container" action="/" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Fun Fact</span>
                    <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="funFact" placeholder="Fun Fact"/><br/>
                </div>

                <form class="new-movie-container" action="/" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Favorite Christmas Song</span>
                    <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="favSong" placeholder="Favorite Christmas Song"/><br/>
                </div>

                <form class="new-movie-container" action="/" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                         <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="email" placeholder="email address"/><br/>
                </div>
                
                <input class="btn btn-primary" id="submit" type="submit" value="ADD PROFILE"/>
                </form>


        </div>
    </body>
</html>