<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        
    </head>
    <body id="indexContainer" >
    <div class="container-fluid">

        <div class="back-button-divider">
            <a href="/home"><button class="btn btn-secondary back-button" >HOME</button></a>
            </div>
        <div class="container-fluid">
            <h1>Add New Person</h1>

            <!-- start of form -->
            <form class="new-person-container" action="/home" method="POST">
                <p>Add your first name! If your name already exists in the system then create a new username. If your someones secret santa partner restriction then make sure they have your matching profile name.</p>
                <b><p>*Required</p></b>
                <div class="input-group mb-3">
                    <span class="input-group-text spantext" id="inputGroup-sizing-default">Name</span>
                    <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text"  name="name" placeholder="Name" autocomplete="off" id="nameInput"/><br/>
                </div>
            <!-- Need to check if username already exists -->


                 <div class="input-group mb-3">
                    <span class="input-group-text spantext" id="inputGroup-sizing-default">Profile Image URL</span>
                    <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="image"  placeholder="Image URL" autocomplete="off"/><br/>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text spantext" id="inputGroup-sizing-default">WishList</span>
                    <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="wishList" placeholder="Seperate items and links by using commas" autocomplete="off"/><br/>
                </div>

             
            <div class="input-group mb-3">
                <span class="input-group-text spantext" id="inputGroup-sizing-default">Fun Fact</span>
                <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="funFact" placeholder="Fun Fact" autocomplete="off"/><br/>
            </div>

            
            <div class="input-group mb-3">
                <span class="input-group-text spantext" id="inputGroup-sizing-default">Favorite Christmas Song</span>
                <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="favSong" placeholder="Favorite Christmas Song" autocomplete="off"/><br/>
            </div>

            <b><p>*Required (You will be emailed your secret santa partner)</p></b>
            <div class="input-group mb-3">
                <span class="input-group-text spantext" id="inputGroup-sizing-default">Email</span>
                     <input  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="email" placeholder="email address" autocomplete="off"/><br/>
            </div>
 
            <input class="btn btn-primary add-movie-button" id="submit" type="submit" value="ADD PERSON"/>
            </form>
                <h4 id="duplicate"><%=errormessage%></h4>

        </div>
    </div>
     <!-- Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>
</html>