*{
  box-sizing: border-box;
}

body{
  background-color: #DA2C43;
  color:#485e74;
  line-height:1.6;
  font-family: 'Overpass', sans-serif;
  margin: 1em 3em 2em 3em;
}

.btn {
  border: 2px solid black;
}

.contact {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

#emailsubmit {
 width: 100%;
 padding: 10px;
 background:#ACE1AF;
}
#emailsubmit:hover {
  background:#ACE1AF;
  color:#fff;
  outline:0;
  transition: background-color 1s ease-out;
 }

 .brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.custom-select{
  flex-grow: 1;
}
