html, body {
 background-color: #F08080;
}

img {
    max-width: 150px;
    margin: 1em;
}

#indexContainer{
    margin: 1em 3em 2em 3em;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ACE1AF;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}


/* Show page */
.rightContainer {
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 3px solid black;

}

.leftContainer {
  /* max-width: 90%; */
  align-content: center;
}

.showImg{
  width: 90%;
  border-radius: 10px;
  border: 3px solid black;
}

ul {
    /* list-style: none; */
    padding-left: 0;
  }
  /* end of show page */

  #btnDiv{
    display: flex;
    flex-direction: row;
  }

  .edit, .delete {
    margin: 1em;
  }

  @media only screen and (max-width: 550px) {
    #indexContainer{
      margin: 0.3em 0 0.5em 0;
  }
  .spantext {
    font-size: small;
    padding: 2px;
  }
  }

  #ho, #reset{
    border: 1px solid black;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1em;
  }


